{%- assign img_path = include.path | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".tiff" -%}

<figure>

  <picture>
    {% if site.imagemagick.enabled %}
    {% for i in site.imagemagick.widths -%}
      <source 
        class="responsive-img-srcset"
        media="(max-width: {{ i }}px)" 
        srcset="{{ img_path | relative_url }}-{{ i }}.webp"
        type="image/webp"
      />
    {% endfor -%}
    {% endif %}

    <!-- Fallback to the original file -->
    <img 
      src="{{ include.path | relative_url }}" 
      class="img-fluid z-depth-1 rounded" 
      style="max-width: auto; height: auto;" <!-- 确保图片自适应 -->
      {% if include.width %}width="{{ include.width }}"{% else %}width="auto"{% endif %} 
      {% if include.height %}height="{{ include.height }}"{% else %}height="auto"{% endif %} 
      {% if include.alt %}alt="{{ include.alt }}"{% else %}alt="image"{% endif %} 
      {% if include.title %}title="{{ include.title }}"{% endif %} 
      {% if include.zoomable %}data-zoomable{% endif %}
      onerror="this.onerror=null; this.style.display='none';"
    />

  </picture>

  {%- if include.caption -%}<figcaption class="caption">{{ include.caption }}</figcaption>{%- endif %}

</figure>
